<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>Portfolio Project: The purpose of this page is to initiate the OAuth 2.0 flow,click below to sign in to Google and redirect to the /userinfo page<p>
    <a href="/authorize">Click here for OAuth</a>
</body>